<% if @warning_message.blank? %>
  <table id="plugins-table" class="table table-condensed table-striped mobile-data">
    <thead>
    <tr>
      <th>Name</th>
      <th>Version</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% plugins.each do |name, version| %>
        <tr>
          <td><%= name %></td>
          <td><%= version %></td>
          <td><%= link_to '<i class="fa fa-cloud-download"></i>'.html_safe, plugin_install_path(:plugin_key => name), :method => :post, :title => 'Install' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-warning" role="alert"><%= @warning_message.html_safe %></div>
<% end %>

<%= javascript_tag do %>
  $(document).ready(function() {
    $('#plugins-table').dataTable({
      "dom": "t",
      "paging": false,
      "ordering": false
    });
  });
<% end %>
