<table id="logs-table" class="table table-condensed table-striped mobile-data">
  <thead>
  <tr>
    <th>Time</th>
    <th>Name</th>
    <th>Level</th>
    <th>Message</th>
  </tr>
  </thead>
  <tbody>
  <% logs.each do |log| %>
      <tr>
        <td>
          <% unless log['time'].blank? %>
              <%=DateTime.strptime(log['time'].to_s, '%Q').strftime('%Y-%m-%d %H:%M:%S') %>
          <% end %>
        </td>
        <td><%= log['name'] %></td>
        <td><%= log['level'] %></td>
        <td><%= log['message'] %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= javascript_tag do %>
  $(document).ready(function() {
    $('#logs-table').dataTable({
      "dom": "t",
      "paging": false,
      "ordering": false
    });
  });
<% end %>
