<div class="search">

  <div class="column-block">

    <h1>Configured instances
      <%= link_to('<i class="fa fa-refresh"></i>&nbsp;Operation complete, reload page'.html_safe, url_for, :id => "reload-page", :class => 'btn btn-xs text-success', :style => "display: none;") %>
    </h1>

    <div id="nodes-table-wrapper">
      <%= render :partial => 'kpm/nodes_info/nodes_table', :locals => {:nodes_info => @nodes_info} %>
    </div>

  </div>

  <div class="column-block">

    <h1>Logs</h1>

    <%= form_tag url_for, :method => 'get', :format => :js, :class => 'form-horizontal' do %>
      <div id="logs-form">
        <div class="form-inline">
          <%= text_field_tag :kb_host, @kb_host, :class => 'form-control' %>
          <%= button_tag '', :type => 'submit', :class => 'glyphicon glyphicon-search' %>
        </div>
      </div>
    <% end %>

    <div id="logs-table-wrapper">
      <%= render :partial => 'kpm/nodes_info/logs_table' %>
    </div>

  </div>

  <% if kpm_plugin_installed?(@nodes_info) %>
    <div class="column-block">

      <h1><%= link_to 'Install new plugin', plugins_path %></h1>

    </div>
  <% end %>
</div>

<%= javascript_tag do %>
  $(document).ready(function() {
    refreshLogs('<%= nodes_info_refresh_path(:kb_host => @kb_host, :last_event_id => @last_event_id, :format => :js) %>');

    $('.plugin-link').one('ajax:beforeSend', function() {
      // Prevent other clicks
      $('.plugin-link').removeAttr('data-remote')
                       .removeAttr('data-method')
                       .removeAttr('href')

      // Spin
      $(this).children().addClass('fa-spin');
    });
    $('.plugin-link').one('ajax:complete', function() {
      // Delay a bit, to give time for the plugin state to change before the next refresh
      setTimeout(fakeOperationComplete, 6000);
    });

    function fakeOperationComplete() {
      $('.plugin-link').children().removeClass('fa-spin');
      $('#nodes-table-wrapper').fadeTo("slow", 0.5);
      $('#reload-page').fadeIn("slow");
    }
  });
<% end %>
