<div class="search">

  <div class="column-block">

    <h1>Configured instances</h1>

    <div id="nodes-table-wrapper">
      <%= render :partial => 'kpm/nodes_info/nodes_table', :locals => {:nodes_info => @nodes_info} %>
    </div>

  </div>

  <div class="column-block">

    <h1><%= link_to 'Install new plugin', plugins_path %></h1>

  </div>

  <div class="column-block">

    <h1>Logs</h1>

    <div id="logs-table-wrapper">
      <%= render :partial => 'kpm/nodes_info/logs_table' %>
    </div>

  </div>

</div>

<%= javascript_tag do %>
  $(document).ready(function() {
    refreshLogs('<%= nodes_info_refresh_path(:format => :js) %>');

    $('.plugin-link').one('ajax:beforeSend', function() {
      // Prevent other clicks
      $('.plugin-link').removeAttr('data-remote')
                       .removeAttr('data-method')
                       .removeAttr('href')

      // Spin
      $(this).children().addClass('fa-spin');
    });
  });
<% end %>
